<header class="bg-slate-50 flex justify-between box-border text-base h-16   items-center px-20 ">
    <div class="flex items-center  h-full">
        <div class="flex items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/2875/2875337.png" class="h-10" alt="">
            <h1 class="text-xl">rusoForm</h1>
        </div>
        <div class="w-[1px] h-[60%] bg-gray-300 mx-2"></div>
        <p>Enterprise</p>
    </div>
    <div class="flex gap-5 flex-row">
        <button MMButtonInit (click)="register()">Register</button>
        <button MMButtonInit (click)="login()">Login</button>
    </div>
</header>
